<!DOCTYPE html>
<html>
<head>
  <title>MySQL Table to HTML</title>
</head>
<body>
  <h1>MySQL Table Data</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Marks</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((row) => { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.subject %></td>
          <td><%= row.marks %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
